@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie CRUD Application</h1>
    <p class="lead">
        This is a Movie CRUD application that uses ASP.NET as the backend framework and EF as the ORM for CRUD operations.
        Any constructive criticism you have that you would like to share about the application would be greatly appreciated.
    </p>
    <p><a href="https://github.com/HelloWorld183L/MovieCRUDApplication" class="btn btn-primary btn-lg">See the source code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To access the CRUD operations of the application, please register an account to gain access to the Movie list
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact me</h2>
        <p>Feel free to contact me using the button below to provide feedback on the application or ask me any questions!</p>
        <p><a class="btn btn-default" href="mailto:karper360l@gmail.com">Send me an email &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Personal Website</h2>
        <p>You can easily find my personal website at the link below...</p>
        <p><a class="btn btn-default" href="#">Visit personal website &raquo;</a></p>
    </div>
</div>